apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: actions-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ShinobiSlayer/actions.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: actions-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
